* {
    font-family: 'Releway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6),
            rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(/assets/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
}

.banner-content {
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;

}
.banner .logo{
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .banner .logo img {
    font-family: Releway;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner p {
    font-size: 1.25rem;
    margin: 16px 0 24px;
}

.banner .banner-content button {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    border-radius: 30;
}

body {
    background-color: black;
}

h2 {
    display: block;
    text-align: center;
    font-size: 35px;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 29px;
}

#course-content {
    width: 800px;
    margin: 100px auto;
    text-align: center;
}

#course-content .modules-list {
    margin: 24px 0;
    color: #1472B7;
}

#course-content .modules-list .module span {
    color: #1472B7;
}

#course-content .modules-list .module {

    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}

#transform-world {
    padding: 200px;
    background-size: cover;
    background-image: url(/assets/images/woman-code.png);
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    
}

#transform-world p {
    box-sizing: border-box;
    background-position: left center;
    text-transform:lowercase;
    font-weight: 799;
    font-size: 40px;
    max-width: 250px;
    text-shadow: 3px 2px 0px #33A8DB;
}

#professional-challenges {
    text-align: center;
    width: 795px;
    margin: 100px auto;
}

#professional-challenges img {
    margin: 32px 0;
}

footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(51, 168, 219, 0.00) 0%, rgba(51, 168, 219, 0.20) 99.99%, rgba(51, 168, 219, 0.20) 100%);
    border-top: 1px solid #33A8DB80;
}

footer .dio-logo {
    width: 300px;
}

p {
    color: #FFF;
    font-style: normal;
    line-height: normal;
}