@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

html, body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #ffff;
    font-family: 'Raleway', sans-serif;
 }
 h1 {
    font-weight: 900;
    font-size: 2.5rem;
    margin: auto;
    width: 434px;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 h2 {
    color: #33A8DB;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 32px;
    letter-spacing: 4px;
    margin: auto;
    width: 70%;
 }
 button {
    display: block;
    margin: auto;
    width: 326px;
    height: 57px;
    padding: 19px, 91px;
    text-transform: uppercase;
    border: solid 2px #33A8DB;
    background-image: linear-gradient(to bottom, #33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 18px;
 }
 #text-banner {
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    font-family: "Raleway";
}
.banner {
    height: 605px;
    width: 100%;
    .banner-content {
        height: 100%;
        border-bottom: solid 1px #33A8DB;
        color: white;
        background: url("./assets/images/banner.png"), linear-gradient(to top, black, #33a9db3b, black);
    }
    .first-banner-content {
        height: 393px;
        padding-top: 56px;
        margin: auto;
        width: 510px;
    }
    .logo {
        height: 268px;
        width: 268px;
        margin: auto;
    }
}

#course-content {
    padding: 90px 0;
    margin: auto;
    width: 792px;
    text-align: center;
}

#transform-world {
    height: 363px;
    background-image: url("./assets/images/woman-code.png");
    background-position: center;
    background-size: cover;
    border: #33A8DB 1px solid;
    background-attachment: fixed;
}

footer {
    background: linear-gradient(to bottom, black, #33a9db3b);
    border-top: solid 1px #33A8DB;
    padding: 59px 0 20px 0;
    margin: auto;
}

.module {
    width: 535px;
    margin: auto;
    margin-top: 15px;
    background-color: #252525;
    border-radius: 57px;
    border: #33A8DB 1px solid;
    padding: 16px 60px;
    box-shadow: -2px 6px 4px 0px #00000066 inset;

}

span {
    color: #33A8DB;
}

#transform-world > p {
    width: 244px;
    height: 141px;
    margin-top: 111px;
    margin-left: 198px;
    font-size: 40px;
    font-weight: 900;
    text-transform: lowercase;
    text-shadow: 3px 2px #33A8DB;
}

#professional-challenges {
    margin-top: 80px;
}

#professional-challenges > img {
    width: 659px;
    height: 429px;
    margin: 10px 0 10px 26%;
}

#professional-challenges > p {
    width: 792px;
    margin: auto;
    text-align: center;
    padding-bottom: 7%; 
}

.dio-logo {
    margin: 0 0 0 38%;
    width: 310px;
}

footer > p {
    text-align: center;
}