@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&family=Raleway:wght@200;400;600;800&display=swap');
@import url(./components/header.css);




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
}