@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;    
}

body {
    background-color: rgb(0, 0, 0);
}

header {
    display: block;
    background-color: #246e9f37;
}

div {
    display: block;    
}

div > img {   
    border-radius: 50%;
}


.banner {
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    border-bottom: 2px solid #33A8DB80;
    padding-top: 60px;        
    background-image: url(./assets/images/banner.png);   
}

.banner .banner-content {
    color: white;  
    text-align: center;
    width: 600px;
    margin: auto;       
}

.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner .banner-content button {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;    
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    border-radius: 30px;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;

}

.banner p {
    font-size: 1.25rem;
    margin: 16px 0 24px;

}

img {
    overflow-clip-margin: content box;
    overflow: clip;
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

p {
    color: #FFF;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

main {
    display: block;
}


span {
    color: #31A8DD;
}

section {
    margin: 100px auto;
    display: block;
}


section > img {
    background-color: rgba(0, 0, 0, 0.667);
    display: inline-block;
    align-items: center;
}

#course-content {
    width: 800px;
    text-align: center;
}

#course-content .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}

#transform-world {
    height: 560px;
    background: url(./assets/images/woman-code.png), darkgray 50% / cover no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background-color: #252525;
    

}

#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;

}

#professional-challenges {
    padding: 200px;
    background-color: black;
    text-align: center;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    font-weight: 900;
}

#professional-challenges p {   
    font-size: 1.25rem;
    margin: 16px 0 24px;
    text-align: center;
}

footer {
    background: linear-gradient(180deg, rgba(51, 168, 219, 0.00) 0%, rgba(51, 168, 219, 0.20) 99.99%, rgba(51, 168, 219, 0.20) 100%);
    text-align: center;
    padding: 60px 0;
    border-top: #33A8DB80;
}