* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
    background-color: black;
}

p {
    color: white;
}

section {
    margin: 100px auto;
}

header {
  border-bottom: 1px solid #33A8DB00;
  height: 500px;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(assets/images/banner.png);
  background-repeat: no-repeat;
  padding-top: 30px;
}

.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
  }

header button {
     padding-left: 91px;
     padding-right: 91px;
     padding-top: 19px;
     padding-bottom: 19px;
     border: 2px #3BA1CD solid;
     justify-content: center;
     align-items: center;
     gap: 31px;
     display: inline-flex
}

.banner .banner-content {
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
  }
  
  .banner h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  .banner p {
    font-size: 1.25rem;
    margin: 16px 0 24px;
  }

  .banner .logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .banner .banner-content button {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    border-radius: 30px;
  }

  #coursecontent {
    width: 800px;
    text-align: center;
  }
  
  #coursecontent .modules-list {
    margin: 24px 0;
  }
  
  #coursecontent .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
  }
  
  #coursecontent .modules-list .module span {
    color: #33A8DB;
  }
  
  #transform-world {
    height: 100px;
    background-size: cover;
    background-image:url(assets/images/woman-code.png);
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
  }
  
  #transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
  }
  
  #professional-challenges {
    text-align: center;
    width: 800px;
  }
  
  #professional-challenges img {
    margin: 32px 0;
  }
  
  footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
  }
  
  footer .dio-logo {
    width: 300px;
  }
  
  footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
  }