main {
    position: relative;
}

main #course-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 0 22rem;
    
}

main #course-content h2 {
    text-transform: uppercase;
    color: #33A8DB;
    letter-spacing: .4rem;
    font-size: 1.8rem;
    margin: 6.5rem auto 2.5rem;
}

main #course-content p {
    margin: 0 auto 2.5rem;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 200;
}

main .modules-list {
    margin: 0 auto 6.5rem;
}
 main .modules-list .module {
    border: 1px solid #33A8DB;
    border-radius: 57px;
    margin: 0 auto 1.5rem;
    width: 35rem;
    height: 3rem;
    padding: 1rem;
    text-align: center;
    color: #FFFFFF;
    background-color: #252525;
    font-size: 1rem;
    font-weight: 300;
 }

 main .modules-list .module span {
    color: #33A8DB;
 }

 main #transform-world {
    position: relative;
    background-image: url(../assets/images/woman-code.png);
    background-color: #000000;
    background-size: cover;
    background-position:center;
    height: 25rem;
    border-top: 2px solid #33A8DB;
    border-bottom: 2px solid #33A8DB;
 }

 main #transform-world p {
    position:absolute;
    top: 5rem;
    left: 5rem;
    padding-right: 77.5rem;
    text-transform: lowercase;
    text-shadow: 1.5px 1.5px #33A8DB;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 2rem;
    align-items: center;
 }

 main #professional-challenges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    padding-top: 3rem;
 }

 main #professional-challenges h2 {
   color: #33A8DB;
   font-size: 2.4rem;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: .25rem;
   margin: 0 auto;
   padding: 2rem 20rem;
 }

 main #professional-challenges img {
    width: 659px;
    height: 429px;
    margin-bottom: 2rem;
 }

 main #professional-challenges p {
    color: #FFFFFF;
    font-size: 1rem;
    padding: 2rem 22rem 5rem;
    font-weight: 300;
 }