body{
    background-color: rgb(0, 0, 0);
    background-image: url("../images/banner.png");
}

h2{
    font-size: large;
    color: #33A8db;
    font-weight:bolder;
    letter-spacing: 0.5px;
    text-transform:uppercase;
    margin-bottom: 24px;
}

p{
    color: white;
}

section{
    margin: 100px auto;
}

.banner {
    background-image: linear-gradient(rgbs(0,0,0, .6), rbga(49, 168, 221, .2), rgba(0,0,0, .6), url('../images/banner.png'));
    background-size: cover;
    background:no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33a8db80;
}

.banner .banner-content{
    color: white;
    width: 600px;
    margin:auto;
    text-align: center;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background:-webkit-linear-gradient(#043042, #1472b7);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner p {
    font-size:medium;
    margin: 16px 0 24px;
}

.banner .logo{
    background-color: rgba(26, 25, 25, 0.9);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .logo img {
    margin:auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner .banner-content button{
    color: #31a8dd;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background-color: rgba(0,0,0, .6);
    border-image: linear-gradient (#153746, #b7babd);
    border-image-slice: 40;
    border-radius: 40px;
}

#course-content{
    width: 800px;
    text-align: center;
}

#course-content .modules-list{
    margin: 24px 0;
}

#course-content .modules-list .module{
    color: white;
    width: 420px;
    margin: 0 auto 30px;
    border: 2px solid #134c64;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0,0,0, .7);
}

#course-content .modules-list .module span{
    color:#33A8db;
}

#transform-world{
    height: 560px;
    background-size:cover;
    background-image:url("../images/woman-code.png");
    background-attachment: fixed;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 200px;
}

#transform-world p{
    font-weight: 900;
    font-size:2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8db;
}

#professional-challenges{
    text-align: center;
    width: 800px;
}

#professional-challenges img {
    margin: 32px 0;
}

footer{
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rbga(50, 168, 219, .2));
    border-top: 1px solid #33a8db80;
}

footer .dio-logo{
    width: 300px;
}

footer a {
    color: #33A8db;
    font-weight: bold;
    text-decoration:none;
}