@import url('reset.css');

body {
    background-color: black;
    color: white;
}

header {
    background-image: radial-gradient(#33a9db25, rgba(0, 0, 0, 0.24)), url(../images/banner.png);
    background-size: cover;
    text-align: center;
}

header img {
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 100%;   
    margin: 60px;
}

header h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 40px;
}

header p {
    font-size: 1.25rem;
    width: 510px;
    margin: auto;
}

header button {
    padding: 15px 40px;
    border: 1px solid #33A8DB;
    color: #30A8DD;
    background-color: transparent;

    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;

    margin: 40px 0px 90px 0px;
    cursor: pointer;
}

#course-content {
    padding-top: 100px;
    text-align: center;
    border-top: 2px solid #33a9db7a;
    padding-bottom: 100px;
}

#course-content h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #33A8DB;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 25px;
}

#course-content p {
    margin: 60px auto 60px;
    width: 792px;
}

.modules-list {
    margin: 0px;
}

.module {
    box-shadow: inset -5px 6px 7px rgba(0, 0, 0, 0.596);
    background-color: #252525;
    border: 1px solid #33A8DB;
    border-radius: 40px;
    margin: 0px auto 25px;
    width: 600px;
    padding: 17px;

}

.module span {
    color: #33A8DB;
}

#transform-world {
    background-image: url(../images/woman-code.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    padding: 200px;
    border-top: 1px solid #33a9db7a;
}

#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
}

#professional-challenges {
    margin: auto;
    text-align: center;
    padding: 50px 0px 50px 0px;
    border-top: 1px solid #33a9db7a;
}

#professional-challenges > img {
    width: 659px;
    margin: 20px 0px 50px 0px;
}

#professional-challenges > p {
    display: block;
    margin: auto;
    width: 792px;
}

#professional-challenges > h2 {
    margin: 20px;
    font-size: 2rem;
    color: #33A8DB;
    letter-spacing: 4px;
    text-transform: uppercase;
    width: 746px;
    margin: auto;
    
}

footer {
    border-top: 1px solid #33a9db7a;
    padding: 60px 25px 25px 25px;
    text-align: center;

    background: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
}

footer a {
    text-decoration: none;
    color: #33A8DB;
    font-weight: bold;
}
