@font-face {
  font-family: Raleway;
  src: url("/assets/font/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway black";
  src: url("/assets/font/Raleway/static/Raleway-Black.ttf");
}

body, button{
  background: black;
  color: white;
}

.banner{
  width: 1440px;
  height: 605px;
  border-bottom: 1px solid #33A8DB;
}

.banner-content{
  width: 510px;
  height: 393px;
  margin-top: 56px;
  margin-left: 465px;
  line-height: 16px;
}

.logo{
  width: 268px;
  height: 268px;
  margin-left: 121px;
  align-items: center;
}

*{
  font-family: Raleway;
/*   -webkit-background-clip: text;
  color: transparent;
  background-clip: text; */
}

h1, h2, button, span{
  color: #33A8DB;
}

h1{
  font-family: "Raleway Black";
  text-transform: uppercase;
  font-size: 40px;
  width: 434px;
  height: 47px;
  line-height: 46.96px;
  margin-left: 38px;
}

.banner p{
  width: 510px;
  height: 46px;
  font-size: 20px;
  line-height: 23.48px;
  text-align: center;
}

button{
  font-family: "Raleway Black";
  border: 2px solid #33A8DB;
  font-size: 16px;
  letter-spacing: 0.21em;
  padding: 19px 91px 19px 91px;
  margin-top: 31px;
  margin-left: 38px;
}

#course-content{
  width: 792px;
  height: 325px;
  padding-left: 324px;
  margin-bottom: 24px;
}

h2{
  /* width: 447px;
  height: 38px; */
  font-weight: 700;
  font-size: 32px;
  margin: 123px 0 37.57px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.19em;
}

#course-content p{
  font-size: 1rem;
  line-height: 18.78px;
}

.module{
  /* width: 535px;
  height: 51px; */
  border-radius: 57px;
  border: 1px solid #33A8DB;
  padding: 16px 127px 16px 127px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #252525;
  box-shadow: inset -2px 6px 4px 0 black;
}

#transform-world{
  width: 1440px;
  height: 363px;
  border-width: 1px 1px 1px 0;
  border-color: #33A8DB;
  border-style: solid;
}

#transform-world p{
  width: 244px;
  height: 141px;
  margin-top: 111px;
  margin-left: 198px;
  font-family: "Raleway Black";
  text-transform: lowercase;
}