@import url('./reset.css');

@import url('reset.css');

body{
    background: black;
}

section{
    margin: 100px auto;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 605px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
  }

.banner .banner-content{
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
  }

.banner .logo{
    width: 260px;
    height: 260px;
    background: rgba(0, 0, 0, .2);
    border-radius: 50%;
    padding: 18px;
    margin: auto;
    margin-bottom: 16px;
}
.banner .logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner h1{
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text ;
}

.banner p{
    font-size: 1.25rem;
    margin: 16px 0 16px;
}

.banner .banner-content button{
    height: 57px;
    width: 326px;
    background: transparent;
    text-transform: uppercase;
    color: #31A8DD ;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 19px 91px 19px 91 px;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 7;
}

h2{
    color: #33A8DB;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 4px;
    padding-bottom: 24px;
}

p{
    color: white;
}

#course-content {
    width: 729px;
    text-align: center;
    font-size: 14px;
}

#course-content .modules-list{
    margin: 24px 0;
}

#course-content .modules-list .module{
    color: white;
    width: 530px;
    border: 2px solid #33A8DB;
    padding: 16px;
    margin: 0px auto 24px;
    border-radius: 57px;
    background: #252525;
    box-shadow: inset -5px 5px 8px rgba(0, 0, 0, .7);
}

#course-content .modules-list .module span {
    color: #33A8DB;
  }

#transform-world{
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80 ;
    height: 550px;
    background-size: cover;
    background-image: url(../images/woman-code.png);
    background-attachment: fixed;
    padding: 220px;

}

#transform-world p{
    max-width: 248px;
    max-height: 141px;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    filter: drop-shadow(3px 2px #33A8DB);

}

#professional-challenges{
    text-align: center;
}

#professional-challenges img{
    width: 659px;
    height: 429px;
}

#professional-challenges h2{
    font-size: 2rem;
    max-width: 746px ;
    margin: auto;
    margin-bottom: 91px;
}

#professional-challenges p{
    max-width: 792px;
    margin: 40px auto 91px;
}

footer{
    text-align: center;
    background: linear-gradient(rgba(51, 168, 219, 0), rgba(51, 168, 219, 0.1), rgba(51, 168, 219, 0.2));
    border-top: 1px solid #33A8DB80;
    padding: 60px 0;
}

footer .dio-logo{
    width: 300px;
}

footer a{
    color: rgba(51, 168, 219, 1);
    text-decoration: none;
    font-weight: bold;
}