@import url("reset.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: black;
}

.banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(49, 168, 221, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 60px;
  border-bottom: 1px solid #33a8db80;
}

.banner .banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.banner .banner-content .logo {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}

.banner .banner-content h1 {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 900;
  background: linear-gradient(180deg, #33a8db 0%, #1472b7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.banner .banner-content p {
  width: 510px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.banner .banner-content button {
  width: 326px;
  color: #31a8dd;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 3.36px;
  background-color: transparent;
  border: 2px solid #3ba1cd;
  padding: 15px;
  gap: 31px;
  cursor: pointer;
  text-transform: uppercase;
}
.banner .banner-content button:hover {
  background-color: #31a9dd3b;
  transition: all 0.5s ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#course-content {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 150px;
}

#course-content h2 {
  color: #33a8db;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6.08px;
  text-transform: uppercase;
}

#course-content p {
  width: 792px;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#course-content .modules-list .module {
  display: flex;
  width: 535px;
  padding: 16px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 57px;
  border: 1px solid #33a8db;
  background: #252525;
  box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.4) inset;
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#course-content .modules-list .module span {
  color: #33a8db;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#transform-world {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-image: url("../images/woman-code.png");
  background-attachment: fixed;
  border-top: 1px solid #33a8db80;
  border-bottom: 1px solid #33a8db80;
  padding: 200px;
}

#transform-world p {
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: lowercase;
  max-width: 250px;
  text-shadow: 3px 2px #33a8db;
}

#professional-challenges {
  padding: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#professional-challenges h2 {
  color: #33a8db;
  text-align: center;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 6.08px;
  margin-bottom: 50px;
}

#professional-challenges p {
  margin-top: 50px;
  width: 792px;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  border-top: 1px solid #33a8db;
  background: linear-gradient(
    180deg,
    rgba(51, 168, 219, 0) 0%,
    rgba(51, 168, 219, 0.2) 99.99%,
    rgba(51, 168, 219, 0.2) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer a {
  color: #33a8db;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
